body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1848px;
  height:924px;
}
#u1926 {
  position:absolute;
  left:50px;
  top:236px;
  width:1848px;
  height:924px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:454px;
  width:1844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:930px;
}
#u1928 {
  position:absolute;
  left:50px;
  top:1388px;
  width:1839px;
  height:930px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:457px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:932px;
}
#u1930 {
  position:absolute;
  left:50px;
  top:2545px;
  width:1839px;
  height:932px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:458px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1833px;
  height:979px;
}
#u1932 {
  position:absolute;
  left:50px;
  top:4905px;
  width:1833px;
  height:979px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:482px;
  width:1829px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1838px;
  height:965px;
}
#u1934 {
  position:absolute;
  left:50px;
  top:6112px;
  width:1838px;
  height:965px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:474px;
  width:1834px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1834px;
  height:973px;
}
#u1936 {
  position:absolute;
  left:50px;
  top:3705px;
  width:1834px;
  height:973px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:478px;
  width:1830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:954px;
}
#u1938 {
  position:absolute;
  left:50px;
  top:7304px;
  width:1857px;
  height:954px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:469px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:902px;
  top:99px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1942 {
  position:absolute;
  left:902px;
  top:1277px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:902px;
  top:2447px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1946 {
  position:absolute;
  left:926px;
  top:3621px;
  width:97px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1948 {
  position:absolute;
  left:878px;
  top:4806px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1950 {
  position:absolute;
  left:878px;
  top:6006px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1952 {
  position:absolute;
  left:926px;
  top:7206px;
  width:97px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
