body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1848px;
  height:924px;
}
#u2032 {
  position:absolute;
  left:60px;
  top:246px;
  width:1848px;
  height:924px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:454px;
  width:1844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:930px;
}
#u2034 {
  position:absolute;
  left:60px;
  top:1398px;
  width:1839px;
  height:930px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:457px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:954px;
}
#u2036 {
  position:absolute;
  left:61px;
  top:11066px;
  width:1857px;
  height:954px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:469px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2038 {
  position:absolute;
  left:912px;
  top:109px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2040 {
  position:absolute;
  left:912px;
  top:1287px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2042 {
  position:absolute;
  left:912px;
  top:2457px;
  width:145px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2044 {
  position:absolute;
  left:885px;
  top:8542px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2046 {
  position:absolute;
  left:2704px;
  top:18376px;
  width:97px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2048 {
  position:absolute;
  left:889px;
  top:12373px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:981px;
}
#u2050 {
  position:absolute;
  left:59px;
  top:12470px;
  width:1851px;
  height:981px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:482px;
  width:1847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:1915px;
}
#u2052 {
  position:absolute;
  left:51px;
  top:2555px;
  width:1858px;
  height:1915px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:950px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:1564px;
}
#u2054 {
  position:absolute;
  left:56px;
  top:4770px;
  width:1858px;
  height:1564px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:774px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2056 {
  position:absolute;
  left:936px;
  top:4678px;
  width:97px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:1728px;
}
#u2058 {
  position:absolute;
  left:60px;
  top:6636px;
  width:1858px;
  height:1728px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:856px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2060 {
  position:absolute;
  left:888px;
  top:6518px;
  width:193px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:2162px;
}
#u2062 {
  position:absolute;
  left:60px;
  top:8672px;
  width:1858px;
  height:2162px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:1073px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2064 {
  position:absolute;
  left:933px;
  top:10951px;
  width:97px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
